<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Predict Fish Species</h1>
    <form id="predictForm">
        <input type="number" step="any" placeholder="length" id="feature1" required>
        <input type="number" step="any" placeholder="weight" id="feature2" required>
        <input type="number" step="any" placeholder="w_l_ratio" id="feature3" required>
        <button type="submit">Predict</button>
    </form>
    <h2 id="result"></h2>

    <script>
        document.getElementById('predictForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const features = [
                parseFloat(document.getElementById('feature1').value),
                parseFloat(document.getElementById('feature2').value),
                parseFloat(document.getElementById('feature3').value)
            ];

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ features: features })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('result').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('result').innerText = 'Prediction: ' + data.prediction;
                }
            })
            .catch(error => {
                document.getElementById('result').innerText = 'Error: ' + error;
            });
        });
    </script>
</body>
</html>
